*.o
.DS_Store
.*.swp
/env
/dl
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds/packages
/feeds/luci
/feeds/routing
/feeds/telephony
/feeds/video
/feeds/oldpackages
/feeds/mt76
/feeds/mtk_wifi_gpl
/feeds/mtk_openwrt_feed
/feeds/kenzo
/feeds/small
/files
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/.bash
/.bash*
/.zsh*
/.face*
/.local
/.java
/.conf
/.viminfo
/.profile
/llvm-bpf*
key-build*
*.orig
*.rej
*~
.#*
*#
/.gitconfig
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
